<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a href="/" class="navbar-brand" >
    <img border="0" alt="productX" src="../images/productX.jpg" width="50" height="50" >
  </a>
  <ul class="nav navbar-nav">
    <li>
      <a href="/about_productx">About ProductX</a>
    </li>
    <li>
      <a href="/faq">FAQs</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
  </ul>
</nav>

