<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head %>
  </head>
  <body>
    <header>
        <% include header %>
        <hr></hr>
    </header>
    <main>
      <%- include(contentView) %>
    </main>
    <hr></hr>
  <footer>
    <% include footer %>
  </footer>
</body>
</html>
